<style>
  .navButton {
    margin-right: 20px;
    margin-left: 20px;
  }
</style>

<div class="container">
  <div class ="row">
    <div class="col-md-4">
        <div class="well">
            <h3>Room: Test site for Andriod</h3>
            </br>
            <input type="button" class="btn btn-danger" id="vibrate">

            <ul class="list-group" id="users"></ul>
        </div>
    </div>
    <div class="col-md-8 text-center">
      <div class="row" style="margin: 15px;">
          <button id="up" type="button" class="btn btn-primary navButton">Up</button>
      </div>
      <div class="row" style="margin: 10px;">
        <button id="leftup"  type="button" class="btn btn-primary navButton">Left Up</button>
        <button id="rightup"  type="button" class="btn btn-primary navButton">Right Up</button>
      </div>
      <div class="row" style="margin: 10px;">
        <button id="left"  type="button" class="btn btn-primary navButton">Left</button>
        <button id="center"  type="button" class="btn btn-primary navButton">Center</button>
        <button id="right" type="button" class="btn btn-primary navButton">Right</button>

      </div>
      <div class="row" style="margin: 10px;">
        <button id="leftdown"  type="button" class="btn btn-primary navButton">Left Dn</button>
        <button id="rightdown"  type="button" class="btn btn-primary navButton">Right Dn</button>
      </div>
      <div class="row" style="margin: 15px;">
        <button id="down"  type="button" class="btn btn-primary navButton">Dn</button>
      </div>
    </div>
  </div>
</div>
