<div class="container">
  <div class ="row">
    <div class="col-md-4">
        <div class="well">
            <h3>Room: Test site for arduino</h3>
            <ul class="list-group" id="users"></ul>
        </div>
    </div>
    <div class="col-md-8">
      <div class="chat" id="chat"></div>
      <button id="left"  type="button" class="btn btn-primary">Left</button>
      <button id="right" type="button" class="btn btn-primary">Right</button>
      <button id="up"    type="button" class="btn btn-primary">Up</button>
      <button id="down"  type="button" class="btn btn-primary">Down</button>
      <button id="center"  type="button" class="btn btn-primary">Center</button>
    </div>
  </div>
</div>
