<body>
<div class="col-md-12" style="margin-top: 6%">
    <table style="width: inherit">
        <tbody>
        <tr>
            <td style="width: 7%">
                <div>
                    <!--
                    <label>Player One</label>
                    <label id="playerOneName"></label>
                    -->
                    <label id="playerOneScoreLabel" style="text-align: center; font-size: xx-large;">0</label>
                </div>

            </td>
            <td style="position: relative;">
                <div id="canvasBackground" style="position: absolute; top: 0; left: 0; background-color: white;"></div>
                <div id="canvasGame" style="position: absolute; top: 0; left: 0;"></div>
            </td>
            <td style="width: 7%;">
                <div>
                    <!--
                    <label>Player Two</label>
                    <label id="playerTwoName"></label>
                    -->
                    <label id="playerTwoScoreLabel" style="text-align: center; font-size: xx-large">0</label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>

<style>
    canvas {
        width: 1000px;
        height: 500px;
        Vertical-align: middle;
        border-radius: 10px;
        border: 20px solid #ffffff
    }
</style>

<script type ="text/javascript" src="/pingpongClient.js"></script>

<script>
    $(document).ready(function(){
        $('body').css('background-color', '#01607d');
        //$('#playerOneName').value($('#playerContainer1'));
    });


</script>
