<div class="container">
  <div class ="row">
    <div class="col-md-4">
        <div class="well">
            <h3>Room: </h3>
            <ul class="list-group" id="users"></ul>
        </div>
    </div>
    <div class="col-md-8">
      <div class="chat" id="chat"></div>
    </div>
  </div>
</div>
