<body>
<div class="col-md-12" style="margin-top: 6%">
    <table style="width: inherit">
        <tbody>
        <tr>
            <td style="width: 7%">
                <div>
                    <!--
                    <label>Player One</label>
                    <label id="playerOneName"></label>
                    -->
                    <label id="playerOneScore" style="text-align: center;">1</label>
                </div>

            </td>
            <td>
                <div id="canvasGame" style="text-align: center"></div>

            </td>
            <td style="width: 7%;">
                <div>
                    <!--
                    <label>Player Two</label>
                    <label id="playerTwoName"></label>
                    -->
                    <label id="playerTwoScore" style="text-align: center;">3</label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>

<style>
    canvas {
        width: 1000px;
        height: 500px;
        background-color: white;
        Vertical-align: middle;
        border-radius: 10px;
        border: 20px solid #ffffff
    }
</style>

<script type ="text/javascript" src="/pingpong.js"></script>

<script>
    $(document).ready(function(){
        $('body').css('background-color', '#01607d');
        //$('#playerOneName').value($('#playerContainer1'));
    });


</script>
