<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
<style media="screen">
  body{
    margin-top: 50px;
  }
</style>
</head>
<body>
  <div class="container">
    <div class ="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="roomBox">Room id:</label>
          <textarea class="form-control" rows="1" id="roomBox"></textarea>
          <input id="join" type="button" class="btn btn-primary" style="margin-top: 10px;" value="Join">
        </div>
        <div class="chat" id="chat"></div>
        <form  id="messageForm" action="#">
            <div class="form-group">
              <label>Enter Message</label>
              <textarea class="form-control" id="message"></textarea>
              <br/>
              <input type="submit" class="btn btn-primary" vaule="Send message">
            </div>

        </form>
      </div>

    </div>

  </div>
  <script type="text/javascript">

    $('#join').click(function(){
      alert('click');
      var socket = io.connect();
      var $messageForm = $('#messageForm');
      var $message = $('#message');
      var $chat = $('#chat');
      var data = $('#roomBox').val().trim();
      console.log(data);

      socket.emit('register', {id: data, type: 'input'});

      $messageForm.submit(function(e){
        e.preventDefault();
        socket.emit('send message', {msg: $message.val(), id: data});
        $message.val('');
      });

      socket.on('new message', function(data){
        console.log(data.msg);
        $chat.append(data.msg + "<br/>");
      });

    });

  </script>


</body>

</html>
