<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
<style media="screen">
  body{
    margin-top: 50px;
  }
</style>
</head>
<body>
  <div class="container">
    <div class ="row">
      <div class="col-md-4">
        <div id="cardContainer">
          <div id="form" class="form-group">
            <label for="roomBox">Room id:</label>
            <textarea class="form-control" rows="1" id="roomBox"></textarea>
            <label for="roomBox">Nick name:</label>
            <textarea class="form-control" rows="1" id="nickBox"></textarea>
            <input id="join" type="button" class="btn btn-primary" style="margin-top: 10px;" value="Join">

          </div>
        </div>
        <div class="chat" id="chat"></div>
        <form  id="messageForm" action="#" style="display: none;" >
            <div class="form-group">
              <label>Enter Message</label>
              <textarea class="form-control" id="message"></textarea>
              <br/>
              <input type="submit" class="btn btn-primary" value="Send message">
              <input id="quit" type="button" class="btn btn-danger" value="Disconnect">
            </div>

        </form>
      </div>
      <div id="controlBoard" class="col-md-4" style="display: none">
        <input type="button" id="Up" type="Up" class="btn btn-primary" value="Up" style="width: 150px;">
        </br>
        <input type="button" id="Down" type="Down" class="btn btn-primary" value="Down" style="margin-top: 10px; width: 150px;">
      </div>

    </div>

  </div>
  <script type="text/javascript">

    $('#join').click(function(){

      var socket = io.connect();
      var $messageForm = $('#messageForm');
      var $message = $('#message');
      var $chat = $('#chat');
      var roomId = $('#roomBox').val().trim();
      var nick = $('#nickBox').val().trim();
      var keys = [];


      socket.emit('register', {id: roomId, type: 'input', nick: nick });


      $('#Up').click(function() {
        socket.emit('new move', {move: 'U0'});
        console.log('Up');
      });

      /*$('#Down').click(function() {
        socket.emit('new move', {move: 'D0'});
        console.log('Down');
      });*/

      $messageForm.submit(function(e){
        e.preventDefault();
        socket.emit('send message', {msg: $message.val(), id: roomId, nick: nick});
        console.log($message.val())
        $message.val('');
      });

      socket.on('new message', function(data){
        console.log(data.msg);
        $chat.html("");
        $chat.append(data.msg + "<br/>");
        if(data.success){
          $('#cardContainer').load('/inputCard?roomId='+roomId+'&nick='+nick, function(){
            $('#messageForm').css('display', '');
            $('#controlBoard').css('display', '');
          });
          $('#form').remove();


          document.addEventListener("keydown", function(event){
            if(event.which == 40 && keys[event.which] == false){
              keys[event.which] = true;
              $('#Down').toggleClass('btn-success');
              if(!event.shiftKey){
                socket.emit('new move', {move: 'D0'});
              }
              else {
                socket.emit('new move', {move: 'D1'});
              }
            }
            else if (event.which == 38 && keys[event.which] == false) {
              keys[event.which] = true;
              $('#Up').toggleClass('btn-success');
              if(!event.shiftKey){
                socket.emit('new move', {move: 'U0'});
              }
              else {
                socket.emit('new move', {move: 'U1'});
              }
            }
          });
          document.addEventListener("keyup", function(event){
            if(event.which == 40){
              keys[event.which] = false;
              $('#Down').removeClass('btn-success');
            }
            else if (event.which == 38) {
              keys[event.which] = false;
              $('#Up').removeClass('btn-success');
            }
            socket.emit('new move', {move: 'C'});
          });
        }
      });

    });

  </script>


</body>

</html>
