<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
<style media="screen">
  body{
    margin-top: 50px;
  }
</style>
</head>
<body>
  <div class="container">
    <div class ="row">
      <div class="col-md-4">
          <div class="well">
              <h3>Online Users</h3>
              <ul class="list-group" id="users"></ul>
          </div>
      </div>
      <div class="col-md-8">
        <div class="chat" id="chat"></div>
        <form  id="messageForm" action="#">
            <div class="form-group">
              <label>Enter Message</label>
              <textarea class="form-control" id="message"></textarea>
              <br/>
              <input type="submit" class="btn btn-primary" vaule="Send message">
            </div>

        </form>
        
      </div>

    </div>

  </div>
  <script type="text/javascript">

    $(function(){
      var socket = io.connect();
      var $messageForm = $('#messageForm');
      var $message = $('#message');
      var $chat = $('#chat');

      $messageForm.submit(function(e){
        e.preventDefault();
        socket.emit('send message', $message.val());
        $message.val('');
      })
      socket.on('new message', function(data){
        console.log(data.msg);
        $chat.append(data.msg + "<br/>");
      });
    });

  </script>


</body>

</html>
