<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <style media="screen">
      .rcorners1 {
        border-radius: 25px;
        border: 5px solid #ffffff;
      }
      .buttonContainer {
        text-align: center;
        padding: 10px;
        background-color: #028db8;
        margin-top: 80%;

      }
      td {
        text-align: center;
      }
      .btn {
        margin: 5px;
      }
      html body {
        margin: 0;
        height: 100%;
      }
      .footer{
        border-top: 5px solid #ffffff;
        border-bottom: 5px solid #ffffff;
        background-color: #028db8;
        margin-top: 5%;
        text-align: center;
      }

      h2 {
        font: 400 40px/0.8 'Cookie', Helvetica, sans-serif;
        color: #fff;
        text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
      }
      p {
       color: #fff;
       font: normal 18px sans-serif;
      }
     .footer-links a{
        display:inline-block;
        text-decoration: none;
        color: #fff;
      }
      .menubutton {
        width: 150px;
      }
    </style>
  </head>
  <body style="background-color: #01607d">
      <div class="col-md-5" style="padding-left: 0px;">
        <img src="/Images/Logo.png" alt="" style="float: left; width: 301px; height: 184px;">
      </div>
      <div class="col-md-2" style="height: 500px;">
        <div class="buttonContainer rcorners1">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td><input type="button" class="btn btn-info menubutton" name="name" value="Stage a new game" onclick="window.location='/stage';"></td>
              </tr>
              <tr>
                <td><input type="button" class="btn btn-info menubutton" name="name" value="Best game evaaa" onclick="window.location='/stageDrawGame';"></td>
              </tr>
              <tr>
                <td><input type="button" class="btn btn-info menubutton" name="name" value="Connection test" onclick="window.location='/connectionTest';"></td>
              </tr>
              <tr>
                <td><input type="button" class="btn btn-info menubutton" name="name" value="Android test" onclick="window.location='/androidtest';"></td>
              </tr>
              <tr>
                <td><input type="button" id="watch" class="btn btn-info menubutton" name="name" value="Watch a game"></td>
              </tr>
              <tr>
                <td><input type="button" class="btn btn-info menubutton" name="name" value="God view" onclick="window.location='/godView';"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="enterRoom" class="rcorners1 buttonContainer" style="margin-top: 5px; display: none;">
          <form id="roomForm" action="#">
            <input class="form-control" style="text-align: center;"type="text" name="" id="roomInput" placeholder="Enter a room id">
          </form>
        </div>

      </div>

      <div class="col-md-5"></div>
      <div class="col-md-12 footer">
        <span><h2>Cloud gaming services</h2></span>
        <p class="footer-links" style="margin-bottom: 30px;">
  				<a href="#">Hampus Carlsson</a>
  				·
  				<a href="#">Lolita Mageramova</a>
  				·
  				<a href="#">Marcus Kärrman</a>
  				·
  				<a href="#">Tim Svensson</a>
  			</p>

      </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#watch').click(function(){
        if($('#enterRoom').css('display') == 'none'){
          $('#enterRoom').slideDown();
        }
        else {
          $('#enterRoom').slideUp();
        }
      });
      $('#roomInput').keypress(function(e){
        if(e.which == 13){
          $('#roomForm').submit(function(event){
            var roomId = $('#roomInput').val();
            console.log(roomId);
            $.ajax({
              type: "POST",
              url: '/findRoom',
              data: {room: roomId},
              success: function(response){
                if(response.success){
                  window.location.href = '/watch?roomId=' + roomId;
                }
                else {
                  $('#roomInput').val('No room found..');
                }

              },
              dataType: 'json'
            })
            e.preventDefault();
          });
        }
      });

    });
  </script>

  </body>

</html>
