<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
       <% include ../partials/header %>
    </header>
    <div class="container" style>
      
    </div>
  </body>

</html>
